einops
hydra-core
lightning
lion_pytorch
matplotlib
numpy
omegaconf
pandas
pytorch_lightning
Requests
scikit_learn
scipy
seaborn
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torch_ema
transformers
wandb

